<div class="row">
  <div class="span9">
    <div class="page-header">
      <h1>Sign in</h1>
    </div>

    <p class="well"> You can sign up and sign in if you like but the provided credentials will work.</p>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.email_field :email, :value => 'example.user@example.com'  %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, :value => 'password'  %>
        </div>
      </div>

      <div><%= f.submit "Sign in" , :class => 'btn btn-primary' %></div>
    <% end %>

    <%= render "links" %>
  </div>
</div>
